# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

*.dsym

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# OS Generated
*.DS_Store


# Makefile Generated - Project Specific
lex.yy.c
y.tab.c
y.tab.h
shell


SperlingPecoraroShell
SperlingPecoraroShell.zip